<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="mb-4 text-success">
            Nueva Contraseña
        </h2>

        <form action="/nueva-password" method="POST">

            <input
                type="hidden"
                name="correo"
                value="<%= correo %>">

            <div class="mb-3">

                <label class="form-label">
                    Nueva contraseña
                </label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    minlength="8"
                    required>

            </div>

            <button
                type="submit"
                class="btn btn-success">

                Actualizar Contraseña

            </button>

        </form>

    </div>

</div>

<%- include('partials/alerts') %>
<%- include('partials/footer') %>